<footer
	class="text-center text-lg-start mt-5">
	<!-- Grid container -->
	<div
		class="container p-4">
		<!--Grid row-->
		

	<!-- Copyright -->
	<div class="text-center p-3">
	
<p class="text-center">
	© 2020 Copyright: Benjamin MICHEL</p>

	</div>
	<!-- Copyright -->
</footer>
