{% extends "base.html.twig" %}

{% block title %}Modification du mot de passe
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Modification du mot de passe</h1>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}


		{{ form(form) }}{% endblock %}

