{% extends "base.html.twig" %}

{% block title %}Sharecipe{% endblock %}

{% block body %}
    <div class=\"container\">
        <div class=\"row\">
            <div class=\"col-md-12\">
               <h1>Sharecipe</h1>
               <p>Sharecipe is a recipe sharing website. You can share your recipes with other users and see their recipes.</p>
               <p>Made with passion by Benjamin MICHEL</p>
            </div>
        </div>
    </div>
{% endblock %}
